/* html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    line-height: 1.45;
}

main {
    background-color: wheat;
    display: flex;
    height: 100%;
} */

html {
    line-height: 1.45;
    overflow: hidden;
}

body {
    margin: 0;
}

main {
    background-color: lightslategray;
    display: grid;
    height: 100dvh;
    place-items: center;
}